/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    margin: 0 auto;
    color: #3a3a3a;
}
.container {
    position: relative;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}
.hero {
    width: 100%;
    height: 130px;
    background: url(https://zhilenkoivan.github.io/tender/image/banner.jpg) 50% no-repeat;
    background-size: cover;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 15px;
    color: #fff;
    background-color: transparent;
    transition: all .2s linear;
    z-index: 222222;
}
.header_active {
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 0px 5px 8px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 8px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 8px -5px rgba(34, 60, 80, 0.6);
}
.menu__left-link {
    color: inherit;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 8px;
}
.links_active {
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ababab;
    margin-top: 25px;
    margin-bottom: 6px;
}
.links__left {
    display: flex;
    align-items: center;
}
.menu__left {
    display: flex;
    align-items: center;    
}
.menu__right {
    display: flex;
    align-items: center;    
}
.link__left-item {
    margin: 0 16px;
}
.logo {
    display: block;
    margin-right: 26px;
}
.logo-2 {
    display: none;
    margin-right: 26px;
}
.st1 {
    fill: #ca1427;
}
.menu__left-link {
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .0151px;
}
.menu__right-icon:not(:last-child) {
    margin-right: 16px;
}
.header-subtitle {
    backface-visibility: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}
.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}
li > a {
    color: #131313;
}
.active-link {
    color: #c1c1c1;
}
.tender {
    display: flex;
    align-self: start;
    margin-bottom: 56px;
}
.tender__content {
    width: 100%;
}
.information {
    width: 100%;
}
.container-inf {
    width: 100%;
    padding: 24px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}
.information-top {
    position: relative;
    display: flex;
    align-items: start;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.size {
    color: #ef0f33;
    margin-right: 16px;
    white-space: nowrap;
}
.views {
    position: absolute;
    top: -10px;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.information__label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.information__label-item {
    display: inline-block;
    padding: 4px 8px 3px;
    border: 1px solid #d1d1d1;
    margin: 1rem 1rem 0 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}
.address {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.address-icon {
    margin-right: 10px;
}
.address-name {
    font-size: 16px;
    color: #ababab;
}
.information__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 0.6;
}
.appen {
    display: flex;
    align-items: center;
}
.appen__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.mySwiper {
    display: none;
}
.gallery {
    width: 830px;
    margin-top: -240px;
    margin-bottom: 60px;
}
.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
}
.gallery__item {
    position: relative;
    max-width: 260px;
    cursor: pointer;
    margin-right: 10px;
}
/* .gallery__item:not(:last-child) {
    margin-right: 10px;
} */
.gallery__item-img {
    width: 100%;
    height: auto;
}
.gallery__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.65);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.3px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.map {
    cursor: pointer;
    transition: all .2s linear;
}
.map:hover {
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
}
.tabs {
    display: flex;
    /* align-items: center; */
    border-bottom: 1px solid #3a3a3a;
}
.tab {
    margin: 0 18px;
    transition: all .2s linear;
}
.tab-active {
    border-bottom: 2px solid #ef0f33;
}
.tab-one {
    margin-left: 0;
}
.tab-title {
    width: 100%;
    padding: 12px 0;
    margin-right: 0;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3a3a3a;
}
.tab__content {
    padding: 24px;
    background-color: #f1f1f1;
}
.tab__content-row {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    line-height: 21px;
}
.tab__content-text {
    color: #3a3a3a;
}
.tab__content-row:not(:last-child) {
    margin-bottom: 10px;
}
.tab__content-label {
    flex-basis: 35%;
}
.tender-sidebar {
    min-width: 400px;
    margin-left: 30px;
}
.tender__sidebar-status {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
}
.status-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 1px;
    color: #828282;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 0.4px;
}
.mb-16 {
    margin-bottom: 16px;
}
.status-text {
    font-size: 21px;
}
.sidebar__actions-item {
    display: flex;
    align-items: center;
}
.mr-10 {
    margin-right: 10px;
}
.act-btn {
    font-size: 14px;
    white-space: normal;
    border: 1px solid #3a3a3a;
    border-radius: 28px;
    width: 100%;
    height: 42px;
    margin-bottom: 12px;
}
.red-btn {
    color: #fff;
    background: #ef0f33;
    border: none;
}
.contacts {
    display: flex;
    height: 97px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(https://zhilenkoivan.github.io/tender/image/contact-bg.svg);
    border-radius: 3px;
    text-transform: uppercase;
}
.contacts-title {
    /* flex-basis: 95%; */
    font-size: 21px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 10px;
    margin-right: 10px;
}
.contact-btn {
    margin-top: 5px;
    width: 170px;
}
.example {
    background-color: #f8f8f8;
    padding-top: 37px;
    padding-bottom: 80px;
}
.example__tabs-title {
    font-size: 31px;
    white-space: nowrap;
}

#red {
    color: #ef0f33;
}
.myTabs {
    border-bottom: 1px solid #3a3a3a;
}
.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 24px;
}
.subtitle-text {
    font-size: 16px;
}
.subtitle__sort-trigger {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 9px 5px 12px;
    border: 1px solid #dbdbdb;
}
.subtitle__sort-trigger:not(:last-child) {
    margin-right: 24px;
}
.trigger-name {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
}
.subtitle__sort {
    display: flex;
    align-items: center;
}
.subtitle__sort-text {
    margin-right: 24px;
    font-size: 16px;
}
.bg-w {
    background-color: #fff;
    max-width: 1920px;
    margin-bottom: 35px;
}
.p-0 {
    padding: 0;
    display: flex;
}
.inf-wrapper {
    padding: 24px;
}
.portal-img {
    width: 100%;
    height: auto;
}
.descr-right {
    text-align: right;
}
.descr-left {
    width: 70%;
}
.price {
    margin: 0 0 0 auto;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-transform: uppercase;
}
.inf-wrapper {
    width: 100%;
}
.descr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.information-subtitle {
    font-size: 14px;
    color: #767676;
    margin-top: 5px;
    margin-bottom: 20px;
}
.subprice {
    color: #ababab;
    font-size: 16px;
    margin-top: 10px;
}
.metro {
    display: flex;
    align-items: start;
}
.portal-address {
    margin-bottom: 5px;
    color: #3a3a3a;
    font-size: 14px;
}
.purpose {
    margin-bottom: 5px;
    color: #ababab;
    font-size: 12px;
}
.example-inf {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1px;
    opacity: 0.6;
}
.mr-15 {
    margin-right: 15px;
}
.m-0 {
    margin: 0;
}
.object {
    background-color: #f8f8f8;
    padding-bottom: 50px;
}
.object-title {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.myTabs-2 {
    margin-bottom: 40px;
    border-bottom: 1px solid #3a3a3a;
    z-index: 10 !important;
}
.objects {
    display: grid;
    grid-auto-flow: column;
    gap: 0px;
    margin-bottom: 40px;
    position: relative;
}

.object__item {
    display: flex;
    width: 100%;
    max-width: 290px;
    height: 100%;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
}
.object__item-content {
    padding: 24px;
}
.object__item-title {
    font-size: 24px;
    display: block;
    line-height: 30px;
}
.object__item-price {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.object__item-container {
    padding-bottom: 40px;
    border-bottom: 1px solid #e9e9e9;
}
.object__item-bottom {
    text-align: center;
}
.object__item-info {
    color: #767676;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.object__item-link {
    color: #ef0f33;
    text-decoration: underline;
}
.btn {
    position: absolute;
    color: #3e3e3e;
    width: 30px;
    height: 30px;
    z-index: 11111 !important;
}
.carousel__icon {
    fill: currentColor;
}
.next-btn {
    top: 115px;
    right: -35px;
}
.prev-btn {
    top: 115px;
    left: -45px;
}
.next-btn-2 {
    top: 40%;
    right: -35px;
}
.prev-btn-2 {
    top: 40%;
    left: -45px;
}
.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.obj-btn {
    width: 153px;
}
.carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.carousel__pagination-button {
    width: 14px;
    height: 14px;
    background-color: #f3f3f3;
    border: 1px solid #aaa;
    border-radius: 50%;
    
}
.carousel__pagination-item:not(:last-child) {
    margin-right: 5px;
}
.carousel__pagination-button--active {
    background-color: #e80f25;
}
footer {
    width: 100%;
    background-color: #fff;
    color: #ababab;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
}
.footer-container {
    padding: 48px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left {
    display: flex;
}
.emblem {
    width: 35px;
    height: 41px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.tg {
    width: 32px;
    height: 32px;
    opacity: 0.6;
}
.menu__right-icon-none {
    display: none;
}
@media (max-width: 1400px) {
    .tender {
        flex-direction: column;
    }
    .sidebar-cont {
        width: 400px;
    }
    .contacts {
        width: 100%;
    }
    .container-inf-s {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tender-sidebar {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }
    .gallery {
        width: 100%;
        margin-top: 0px;
    }
    .dn {
        display: none;
    }
    .objects {
        display: grid;
        grid-auto-flow: column;
        gap: 0px;
        margin-bottom: 40px;
        position: relative;
    }
    .container {
        width: 100%;
        padding: 0 40px;
    }
    .btn {
        display: none;
    }
    .tab-title {
        font-size: 24px;
    }
    .information-title {
        font-size: 24px;
    }
    .size {
        font-size: 24px;
    }
    .information-top {
        font-size: 30px;
    }
    
}
@media (max-width: 1023px) {
    .links {
        display: none;
    }
    .menu__left-link {
        display: none;
    }
    .dn-2 {
        display: none;
    }
    .menu__right-icon-none {
        display: block;
    }
    .footer-container {
        padding: 48px 10px 0 10px;
        height: 300px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .container-inf {
        display: flex;
        flex-direction: column;
    }
    .portal-wrap-w {
        display: flex;
        width: 100%;
        min-height: 200px;
        align-items: center;
        justify-content: center;
    }
    .portal-img {
        max-width: 100%;
        height: 240px;
        object-fit: cover;
    }
    .tab-title {
        font-size: 13px;
    }
    .appen-text {
        display: none;
    }
    .breadcrumb ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .information-top {
        margin-bottom: 30px;
    }
    .information-top {
        font-size: 30px;
    }
    .views {
        top: 30px;
        left: 0;
    }
    .appen__icon {
        margin-right: 10px;
    }
    .subtitle {
        flex-direction: column;
        align-items: start;
    }
    .information__label {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .portal-img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .objects {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .object__item {
        max-width: 100%;
    }
    
    .subtitle__sort {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .subtitle__sort-text {
        margin-top: 15px;
        text-align: left;
    }
    .subtitle__sort-trigger {
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }
    .subtitle__sort-trigger:not(:last-child) {
        margin-right: 0;
    }
    .information-top {
        font-size: 30px;
    }
    .views {
        top: 70px;
        left: 0;
    }
    .sidebar-cont {
        width: 100%;
    }
    .tab__content-row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #000;
        font-size: 14px;
        line-height: 21px;
    }
    .dn-3 {
        display: none;
    }
    .descr {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .descr-right {
        margin-top: 30px;
        margin-bottom: -80px;
        text-align: left;
    }
    .descr-left {
        width: 100%;
    }
    .inf-wrapper {
        padding: 14px;
    }
    .footer__left {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .information__label-item {
        margin: 10px 5px 0 0;
        font-family: 'Oswald', sans-serif;
        letter-spacing: -0.3px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
    }
}
@media (max-width: 424px) {
    .sidebar-cont {
        width: 280px;
    }
    .contacts {
        width: 350px;
        display: flex;
        flex-direction: column;
        height: 97px;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
    }
    .contacts-title {
        font-size: 18px;
        padding-bottom: 0;
        margin-right: 0;
    }
    .tender-sidebar {
        min-width: 300px;
    }
    .footer-container {
        height: 370px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
}
.swiper-slide {
    width: 100% !important;
    flex-shrink: 1 !important;
}